.Rproj.user
.Rhistory
.RData
.Ruserdata
.env
.venv/
.python-version
.DS_Store
people.json
__pycache__/
logs/
_exercises/20_agent-2/blockbuster/rentals-old.csv
_solutions/20_agent-2/blockbuster/rentals-old.csv
.rtmp/
