/*-- scss:rules --*/
.table-highlight-even>table>tbody>tr:nth-child(2n) {
  font-weight: bold;
}

.table-highlight-even>table>tbody>tr:nth-child(2n - 1) {
  opacity: 0.5
}

.table-what-matters > table > tbody {
  & > tr:nth-child(2n - 1) {
    & > td:first-child {
      opacity: 0.15;
    }
    & > td:last-child {
      font-weight: bold;
    }
  }
  & > tr:nth-child(2n) {
    & > td:first-child {
      font-weight: bold;
    }
    & > td:last-child {
      opacity: 0.15;
    }
  }
}

.table-no-border {

  >table th,
  >table td {
    border-bottom: none;
    padding-block: var(--row-padding);
    vertical-align: middle;
  }
}

:root {
  --title-slide-background-color: #419599;
}

.reveal .progress {
  color: var(--title-slide-background-color);
}

.reveal .slide-your-turn {
  --li-margin: 0.66em;

  &.title-slide h1 {
    font-size: var(--r-heading2-size);
  }
}

.reveal .slide-your-turn .slide-background-content {
  background-image: url(/slides/assets/your-turn.png);
  background-size: 30%;
  background-position: bottom right;
}

:root {
  --countdown-font-size: 3em;
  --sl-fullscreen-scale: 1.5;
}

.panel-tabset li a[role="tab"] {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.gap-1 { gap: 0.5em }
.gap-2 { gap: 1em }
.gap-3 { gap: 1.5em }
.gap-4 { gap: 2em }
.gap-5 { gap: 2.5em }
.gap-6 { gap: 3em }

.reveal pre {
  font-size: var(--code-font-size, 0.8em);
}

.reveal pre.sourceCode code {
  max-height: 800px;
}

.reveal pre code {
  max-height: none;
  white-space: pre;
}

.reveal pre.code-overflow-wrap code {
  white-space: pre-wrap;
  word-break: break-word;
}

.reveal .slides .slide {

  ul li,
  ol li {
    margin-top: var(--li-margin-top, var(--li-margin, 0.4em));
    margin-bottom: var(--li-margin-bottom, var(--li-margin, 0.2em));
  }
}

.reveal .sourceCode.cell-code:has(+ .cell-output) {
  margin-bottom: 0 !important;
}

.cell-output {
  margin-bottom: 1rem;
}

.code-highlight-line .highlight-line {
  --_highlight-line-color: var(--highlight-line-color, oklab(0.95 -0.04 0.16 / 0.7));
  background: var(--_highlight-line-color);
  display: inline-block;
  width: 100vw;
  outline: 0.125lh solid var(--_highlight-line-color);
  font-weight: 500;
}

.reveal .sourceCode:has(> .shinylive-wrapper) {
  border: none;
  background-color: inherit;
  color: inherit;
}

div.shinylive-wrapper {
  box-shadow: none;
  border: none;
}

.easy-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
}

.easy-columns>div> :first-child {
  margin-top: 0;
}

.easy-columns>div> :last-child {
  margin-bottom: 0;
}

.gradient-shinytest2 {
  background-image:
    linear-gradient(to bottom in oklch,
      #3775A9 0%, #A61E22 100%);
}

.pulsing {
  animation: pulse 2s infinite;
  transform-origin: 10% 40%;
}

@keyframes pulse {
  0% {
    stroke-width: 1;
    transform: scale(1);
  }

  50% {
    stroke-width: 3;
    /* Adjust the stroke width for different effect */
    transform: scale(1.2);
    /* Adjust the scaling factor as needed */
  }

  100% {
    stroke-width: 1;
    transform: scale(1);
  }
}

@keyframes pulse-wobble {
  0% {
    stroke-width: 1;
    transform: scale(1) rotateZ(-30deg);
  }

  50% {
    stroke-width: 3;
    /* Adjust the stroke width for different effect */
    transform: scale(1.2) rotateZ(0deg);
    /* Adjust the scaling factor as needed */
  }

  100% {
    stroke-width: 1;
    transform: scale(1) rotateZ(-30deg);
  }
}

.slide-container>svg,
.col>svg {
  width: 100%;
  height: auto;
}

.highlight-li-last li {
  &.visible {
    opacity: 0.5 !important;
  }

  &.visible.current-fragment {
    opacity: 1 !important;
  }
}

mark.squiggle {
  background: none;
  /* Remove default highlighting */
  text-decoration: underline wavy #FF0000aa 3px;
  /* Add red squiggle underline */
}

.text-center {
  text-align: center;
}

//auto-dark fixup for slides with background images
@media (prefers-color-scheme: dark) {
  .no-invert-dark-mode {
    filter: hue-rotate(180deg) invert(1);
  }
}

.code {
  font-family: var(--r-code-font);
}

.reveal {
  pre.sourceCode {

    &.r,
    &.python {
      position: relative;

      &::after {
        content: "";
        opacity: 0.66;
        position: absolute;
        bottom: 0.25em;
        right: 0.25em;
        width: 2em;
        height: 2em;
        max-height: 60%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;
        transition: opacity 100ms linear;
      }

      &:hover::after {
        opacity: 1;
      }
    }

    // Per-language icons
    &.python {
      background-color: hsl(48 100% 98% / 1);

      &::after {
        background-image: url(/assets/icons/python-icon-color.svg);
      }
    }

    &.r {
      background-color: hsl(212 45% 98% / 1);

      &::after {
        background-image: url(/assets/icons/r-color.svg);
      }
    }
  }
}

// Don't use absolute positioning in overview mode, things go out of frame
.reveal.overview .absolute {
    position: static;
}
